<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"[routerLink]="['/']">VishuAngularApp</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Example
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/reactive-form']">Reactive Form</a></li>
              <li><a class="dropdown-item" [routerLink]="['/template-driven-form']">template-driven-form</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/parent-component']">Parent to Child Data Sharing</a></li>
              <li>
                <a class="dropdown-item" [routerLink]="['/sibling-component']">
                  Data Share between Sibling Component
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/reactive-form-example-2']">
                  Reactive-form-example-2
                </a>
              </li> 
              <li>
                <a class="dropdown-item"[routerLink]="['/impurePipe']">
                  impure-Pipe-Example
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/angular-life-cycle-hooks']">
                  Angular-life-cycle-hooks
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/ngrx-example']">
                  ngrx-example
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/dynamic-component-example']">
                  Dynamic-Component-Example
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/directive-example']">
                  directive-example
                </a>
              </li>
              <li>
                <a class="dropdown-item"[routerLink]="['/search-feature-example']">
                  Search-feature-example
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/angular-testing-example']">AngularTestingComponent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/pagination']">Pagination Example</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
